/target/
/**/*.rs.bk
*.pdb
hinjaku_debug.log


# 今回追加するファイル
/.history
/.claude
/MEMO.txt
/AI-Prompt.txt
/Prompt.txt
/ai_refactor
/Gemini-MEMO.md
/Gemini-MEMO.txt
/Gemini-prompt-01.md
/Gemini-prompt-02.md
/pdfium.dll
/yobi
/sample - old - Hinjaku-0.1.2
/Hinjaku-0.1.0
